 .error-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
  }
  .error-popup-icon {
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle;
  }


  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    z-index: 9998; /* Por debajo del spinner */
  }
  
  .spinner-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Por encima del overlay */
    background-color: white; /* Fondo blanco */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  .spinner-popup p {
    margin-top: 10px;
  }
  
  .loading-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }


  /* Estilos para el popup */
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .popup-inner {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    overflow: scroll;
  }

  #closePopupButton{
    position: relative;
    left: 94%;
    top: 0px;
    /* right: 100px; */
    bottom: 0px;
    color:#00A650;
  }

---------------------------------------------
FORMULARIO styles
--------------------------------------------- 
*/

#formulario{
    padding: 0px;
}

.colIMG{
    background-image: url("https://www.finca.co/Portals/finca/Tropico%20Bajo/handsome-caucasian-smiling-farmer-plaid-shirt-jeans-standing-outdoors-with-arms-crossed%201.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tituloFormulario{

    font-weight: 800;
    color: white;
    font-size: 1.5rem;
}

.textoFormulario{
    font-weight: 400;
}

.campos {
    padding: 0px 20px;
    width: 50%;
    color: white;
}


















/* 
---------------------------------------------
MEDIA QUERYS styles
--------------------------------------------- 
*/

/* Estilos para dispositivos mÃ³viles (telÃ©fonos) */
@media only screen and (max-width: 767px) {


    #portafolio p {
        color: var(--textoTB);
        margin-bottom: 20px;
        width: auto;
    }



#portafolio img {
    max-width: 100%;
}

.formula{
    width: 80%;
}

.titulo{
    width: auto;
}

.videoInfo{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.tituloVideo{
    text-align: center;
    line-height: 2rem;
}

.tituloAtributos{
    line-height: 2rem;
    
}

.parrafoTB{
    text-align: center;
}

.informacionIMG{
    width: 100%;
}

.informacionTEXTO{
    padding: 20px;
    text-align: center;
}


.cajaFormulario{
    display: flex ;
    flex-direction: column ;
}

.campos{
    width: 100%;
}

#formulario{

    display: flex;
    flex-direction: column;

}

.colIMG{
    width: 100%;
    height: 30vh;
}

}




/* Estilos para iPads en orientaciÃ³n vertical */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {




}

/* Estilos para iPads en orientaciÃ³n horizontal */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
   




}

